body {
    margin: 0;
    font-family: system-ui;
    color: #efdac0;
}

.hero {
    background-image: url("../img/coffee-shop-1200.png");
    background-size: cover;
    background-position-x: center;
    background-position-y: bottom;
    /*background-repeat: no-repeat;*/
    background-color: #96550b;
}

.pageheader {
    padding-top: 1em;
    padding-bottom: 1em;
    text-align: center;
    font-size: larger;
    font-weight: 600;
    border: #96550b solid 4px;
}

.list {
    padding-top: 1em;
    padding-right: 15%;
    padding-bottom: 10%;
    padding-left: 15%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

.shop {
    flex-basis: 30%;
    border: .05em black dashed;
    padding: 0.5em;
}