.pageheader {
    text-align: center;
    margin-bottom: 1em;
}

.list {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

.shop {
    flex-basis: 30%;
    border: .05em black dashed;
    padding: 0.5em;
}